*{
    margin: 0;
    padding: 0;
  font-family: "Roboto", sans-serif;
}

.tituloNovidades{
    text-align: center;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;    
}

.novidades-img{
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}