* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.tituloCarrossel{
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    padding-top: 40px;
}

.sessaoCarrossel{
    display: flex;    
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    gap: 30px;
    padding: 30px 50px;
}

.card img{
  width: 120%;
  height: 80%;
  object-fit: cover;
  cursor: pointer;

}

.card{
    position: relative;
    width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);;
}

.card span {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}
