*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.tituloFooter{
  font-size: 24px;
  }

.footer-container{
padding: 40px 60px;
display: flex;
justify-content: space-between;
 align-items: flex-start;
}

.cardFooter{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 33%;
}

