* {
  margin: 0;
 
  box-sizing: border-box;
}

.banner {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}
